/* 
    Document   : style
    Created on : Sep 18, 2013, 10:12:43 AM
    Author     : Anh
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.bg{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 0;
}

#wrapper{
    position:relative;
    z-index:1
}

#header{
    background-color: #54992F;
    padding: 10px 0px 10px 0px;
}

#title h3, #title h4{
    color: White;
}

#logo{
    margin-left: 20px;
}

.form-signin {
  margin: 15px auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
  color: white;
}
.form-signin .form-control {
  position: relative;
  font-size: 12px;
  height: auto;
  padding: 7px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#login .span4 .btn{
    padding-top: 17px;
    padding-bottom: 17px;
}

#main{
    padding: 20px;
}

#nav{
    margin: 10px 0px;
}

.scanqr form{
    margin: 0 auto;
}

#wellcome{
    width: 500px;
    margin: 60px auto;
    overflow: hidden;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

#wellcome h3, #wellcome h4{
    color: #003366;
    font-family: Verdana, sans-serif;
}

#login-form{
    width: 300px;
    margin: 0 auto;
}

#tab{
    overflow: hidden;
    text-align: center;
    display: none;
}

#tab ul .item{
    width: 190px;
    height: 190px;
    display: inline-block;
    list-style: none;
    margin: 20px;
    cursor: pointer;
}

#tab ul .item:hover{
    background-color: #333333;
}

#tab ul .item img{
    margin-top: 30px;
}

#tab ul .item h3{
    margin-top: 20px;
    color: white;
}

#tab .chemical{
    background-color: #3498db;
}

#tab .equipment{
    background-color: #e74c3c;
}

#tab .employee{
    background-color: #9b59b6;
}

#tab .library{
    background-color: #2ecc71;
}

table tr.expire td{
    background-color: rgba(255, 102, 102, 0.4) !important;
}

#info h4{
    display: inline-block;
}

#history #nav li{
    display: inline-block;
}

#history #nav li.active a{
    background-color: #428BCA;
    border-color: #357EBD;
    color: #FFFFFF;
}
